<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title text-center>
     <i>Trocas</i>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-list *ngFor="let p of listaMenu">
          <ion-label>{{ p.titulo }}</ion-label> 
          <!--ion-item *ngFor="let sub of p.subProds"> {{ sub.titulo }} - {{sub.valor}}
          </ion-item-->  
          <ion-select  class= ""placeholder="Produtos" [(ngModel)]="produto"  (ionChange)="checkValue($event)" >
           <ion-select-option *ngFor="let sub of p.subProds" [value]="sub.titulo">
                {{sub.titulo}} - {{sub.valor}}
           </ion-select-option>
          </ion-select>
        </ion-list>
      </ion-col>
    </ion-row>
  
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label  position="floating" color="success">Peso em Kilos</ion-label>
        <ion-input placeholder="0 Kilos" [(ngModel)]="quantidade"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label  position="floating" color="success">Pontos</ion-label>
        <ion-input placeholder="0 pts " [(ngModel)]="valor">
        </ion-input>
      </ion-item>  
    </ion-col>
  </ion-row>
  <span *ngFor="let i of sacola"> 
    <ion-row>
      <ion-col text-center>
          <ion-item>{{i.produto}} - {{i.quantidade}} - {{i.valor}}</ion-item>
      </ion-col>
    </ion-row>
  </span>
  <ion-row>
    <ion-col text-center>
        <ion-button (click)="removerItem()" color="success"><ion-icon name="remove"></ion-icon></ion-button>
        <ion-button (click)="criarRegistro()" [disabled]="!quantidade ||!valor" color="success">
          <ion-icon size="small" slot="icon-only" name="swap"></ion-icon>
          Trocar
        </ion-button>
          <ion-button (click)="adicionarItem()" color="success"><ion-icon name="add"></ion-icon></ion-button>  
    </ion-col>
  </ion-row>

    <!--ion-card>
      <ion-img src="assets\imagens\Reciclar.jpg"></ion-img> 
    </ion-card-->

</ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <!--ion-title><ion-img src="assets\imagens\Reciclar.jpg"></ion-img></ion-title-->
  </ion-toolbar>
</ion-footer>
