<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title class="Home ion-text-center">
     <i>Home</i>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="assets\imagens\Home.jpg"></ion-img>

  <ion-text>
      <p>No Brasil são produzidos aproximadamente sete milhões de toneladas de lixo urbano. Quando os resíduos são misturados, somente 1% destes resíduos podem ser 
       reaproveitados, e quando ocorre a separação correta, o aproveitamento passa para a ser 70%. Reciclar é uma forma de reduzir o lixo depositado no ambiente e todos podemos colaborar para a conscientização da sociedade sobre os benefícios dessa 
       atividade. Muitas pessoas utilizam essa forma de vida como fonte de renda, e ainda ajudam o meio ambiente.</p>
  </ion-text>
  <!--ion-fab color="success" vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="2">
        <ion-icon name="share"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
         <ion-fab-button><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
      </ion-fab-list>
    </ion-fab-->
    <ion-img src="assets\imagens\Lixeiras.jpg"></ion-img>
  </ion-card>
</ion-content>